
/* header {
  background-color: white;
} */
h1 {color: white;
  font-size: 7vw;
  text-align: center;
  padding: 2vw;
  font-family: 'Pacifico', cursive;
  filter: drop-shadow(0 0 0.75rem black);
  
}